@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background:url(img/web-backgroud.png);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

header{
    position: absolute;
    top: -20px;
    left: -50px;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    position: relative;
    max-width: 900px;
}

header .navgation ul{
position: relative;
display: flex;
}

header .navgation li{
    list-style: none;
}

header .navgation a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
    margin-left: 100px;
}

.container{
    position: relative;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.container .text{
position: relative;
max-width: 1000px;
margin-right: -40px;
color: rgb(250, 250, 250);
}

.container .text h1{

    color: rgb(253, 253, 253);
    font-size: 5em;
    margin-bottom: 10px;
    line-height: 2.3em;
    font-weight: 800;}

.container .text h2{

color: rgb(253, 253, 253);
font-size: 2em;
margin-bottom: 10px;
line-height: 2em;
font-weight: 100;
font-size: 40px;
margin-top: -80px;
}

.container .text h2 span{
    margin-right: 50px;
    position: relative;
    margin-left: 690px;
    font-size: 6em;
    font-weight: 800;
    top: -50px;
    color: #fff;
}

.container .text p{
    margin-top: -70px;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    

}

.container .text a{
    display: inline-block;
    margin-top: 50px;
    padding: 10px 25px;
    background: #fff;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}

.container .text a:hover{
    transform: translateY(-10px);
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}


.tainer{
display: -webkit-flex;
}



.cards1{
    height: 560px;
    margin: 7px;
    box-shadow: 1px 1px 30px rgb(255, 255, 255, 0.342);
    overflow: hidden;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    display: inline-block;
    margin-top: 60px;
    margin-right: 10px;
    padding: 10px 15px;
    background: #fff;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 10px;
}

.cards2{
    height: 560px;
    margin: 7px;
    box-shadow: 1px 1px 30px rgb(255, 255, 255, 0.342);
    overflow: hidden;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    display: inline-block;
    margin-top: 60px;
    margin-right: 10px;
    padding: 10px 15px;
    background: #fff;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 10px;
}

.cards3{
    height: 560px;
    margin: 7px;
    box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.342);
    overflow: hidden;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    display: inline-block;
    margin-top: 60px;
    margin-right: 10px;
    padding: 10px 15px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 10px;
}


.tainer .cards1 img{
    height: 300px;
    border-radius: 10px;
}

.tainer .cards2 img{
    height: 300px;
    border-radius: 10px;
}

.tainer .cards3 img{
    height: 300px;
    border-radius: 10px;
}

.intro{
    height: 600px;
    width: 200px;
    padding: 6px; 
    border-radius: 3px;
    background:rgb(255, 255, 255);
}

.icons{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instacard{

    position: absolute;
    margin-top: 60px;
    margin-left: 130px;
    padding: 10px 10px 10px 7px;
    border-radius: 9px;
    background: #fff;
    transition: 0.9s ease-in-out;
    
}

.biografia .bio{
    display: block;
    margin-top: 20px;
    font-size: 90px;
    margin-left: 700px;
    color: #fff;
}

.biografia p{
    font-size: 25px;
    margin-left: 700px;
    margin-top:20px;
    color: #fff;
}

.cliqueinsta{
    position: absolute;
    margin-top: 570px;
    margin-left: 470px;
    transition: 0.5s ease-in-out;
}

.cliqueinsta:hover{
    transform: translateY(-10px);}



.cliquegit{
    position: absolute;
    margin-top: 570px;
    margin-left: 550px;
    transition: 0.5s ease-in-out;
}

.cliquegit:hover{
    transform: translateY(-10px);}